attrs==24.2.0
click==8.1.7
grpcio==1.66.2
grpcio-tools==1.66.2
jsonpath-ng==1.7.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
natsort==8.4.0
overrides==7.7.0
ply==3.11
protobuf==5.27.2
referencing==0.35.1
robotframework==7.1.1
robotframework-assertion-engine==3.0.3
robotframework-browser==18.9.1
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.4.1
rpds-py==0.20.0
seedir==0.5.0
setuptools==75.2.0
wrapt==1.16.0
